torch
numpy
tensorboard
pytest
scipy
pandas
tensorboardx

# forked version of nflows that contains functorch support
git+https://github.com/HamidrezaKmK/nflows.git

pytorch_fid
prdc

# ood detection
random-word
dysweep
dypy
wandb
jsonargparse

# visualization
plotly

# chi2comb